beautifulsoup4
requests
openai
streamlit
dashscope
firecrawl
apify_client
datetime
requests
python-dotenv
langchain
langchain_community
chromadb
sentence-transformers
pypdf
docx2txt
pandas
tiktoken
tqdm
numpy
pillow
fastapi
uvicorn